<footer>
    <h4>Footer</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quod totam facere nesciunt architecto omnis explicabo et, minima repudiandae placeat fugit itaque, laborum optio nihil sed quos temporibus odit voluptatem?</p>
</footer>